body{
    font-family: 'Oswald', sans-serif;
}
h1{
    font-size: 60px;
}
.golden-color{
    color: palevioletred;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-color: palevioletred;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
}